:root {
}

html {
  font-size: calc(1vw + 2px);
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  background: var(--color-bg-1);
  color: var(--color-fg-1);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-fg-1);
  border: 0px none var(--color-fg-1);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-fg-1);
}
::-webkit-scrollbar-thumb:active {
  background: var(--color-bg-1);
}
::-webkit-scrollbar-track {
  background: var(--color-fg-1);
  border: 0px none var(--color-fg-1);
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: var(--color-fg-1);
}
::-webkit-scrollbar-track:active {
  background: var(--color-mg-1);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
