.MouseCurrent-Mouse {
  position: absolute;
  z-index: 11;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  margin-top: -1rem;
  background: var(--color-c2-3);
  border-radius: 2rem;
}
