.MousePrevious {
  position: absolute;
  z-index: 11;
  width: 1rem;
  height: 1rem;
  background: var(--color-red-50);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 2rem;
}
