.Generative {
}

.Generative-posters {
  display: flex;
  justify-content: space-between;
}

.GenGrid {
  background: var(--color-green-05);
  border: 1px solid var(--color-green);
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(10, 2vw);
  grid-template-rows: repeat(15, 2vw);
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: 0;
  margin: 0;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

button {
  outline: none;
  background: none;
  border: 2px solid var(--color-red);
  padding: 0.5rem 1rem;
  color: var(--color-red);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  font-size: 0.75rem;
}

button:hover {
  background: var(--color-red-50);
}

.GenGrid h1 {
  font-size: 3rem;
  font-weight: 600;
}

.GenGrid h2 {
  font-size: 2rem;
  font-weight: 100;
  text-align: right;
  width: 100%;
}

.GenGrid div {
  display: flex;
  align-items: center;
}

.GenBox {
  overflow: visible;
  font-size: 0.25rem;
  color: black;
}

.leftMargin {
  grid-row: 1 / 15;
  grid-column: 1 / 1;
}
.rightMargin {
  grid-row: 1 / 15;
  grid-column: 10 / 10;
}

svg {
  overflow: visible;
}
