@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

:root {
  --c-light: hsl(0, 0%, 95%);
  --g: calc(100vw / 14);

  /* Accent */
  --c-acc-h: 55;
  --c-acc-s: 100%;
  --c-acc-l: 80%;

  /* Canvas */
  --c-can-h: 0;
  --c-can-s: 0%;
  --c-can-l: 98%;

  /* Background */
  --c-bgd-h: 0;
  --c-bgd-s: 0%;
  --c-bgd-l: 95%;

  /* Foreground */
  --c-fgd-h: 0;
  --c-fgd-s: 0%;
  --c-fgd-l: 7%;

  /* Motherlode */
  --c-b-mth-h: 0;
  --c-b-mth-s: 0%;
  --c-b-mth-l: 93%;

  --c-f-mth-h: 221;
  --c-f-mth-s: 0%;
  --c-f-mth-l: 15%;

  /* Phase */
  --c-b-phs-h: 0;
  --c-b-phs-s: 0%;
  --c-b-phs-l: 90%;

  --c-f-phs-h: 0;
  --c-f-phs-s: 0%;
  --c-f-phs-l: 15%;

  /* Upies */
  --c-b-ups-h: 24;
  --c-b-ups-s: 100%;
  --c-b-ups-l: 86%;

  --c-f-ups-h: 169;
  --c-f-ups-s: 100%;
  --c-f-ups-l: 20%;

  /* Experimental */
  --c-b-exp-h: 24;
  --c-b-exp-s: 0%;
  --c-b-exp-l: 71%;

  --c-f-exp-h: 169;
  --c-f-exp-s: 0%;
  --c-f-exp-l: 12%;
}

html {
  font-size: calc(1.05vw + 2px);
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

button {
  font-family: "Space Grotesk", sans-serif;
}

body {
  background: hsl(0, 0%, 98%);
  color: var(--color-fg-1);
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-fg-1);
  border: 0px none var(--color-fg-1);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-fg-1);
}
::-webkit-scrollbar-thumb:active {
  background: var(--color-bg-1);
}
::-webkit-scrollbar-track {
  background: var(--color-fg-1);
  border: 0px none var(--color-fg-1);
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: var(--color-fg-1);
}
::-webkit-scrollbar-track:active {
  background: var(--color-mg-1);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
