.Snap-Grid {
  position: relative;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  width: calc(100% + 1rem);
  margin: 0 -0.5rem;
}

.SnapBox,
.Box {
  display: block;
  grid-column: span 1;
  grid-row: span 1;
  font-weight: 300;
  max-height: 8rem;
  border-radius: 0.5rem;
  font-size: 0.5rem;
  padding: 1rem;
  letter-spacing: 0.2rem;
  word-wrap: break-word;
  transition: all 0.2s ease;
  margin: 0.5rem;
}

.Box {
  background: var(--color-mg-5);
  color: var(--color-fg-2);
}

.SnapBox {
  background: var(--color-mg-5);
  color: var(--color-c1-1);
  box-shadow: inset 0 0 0 1px var(--color-c1-1);
}

.SnapBox:hover {
  box-shadow: inset 0 0 0 1px var(--color-c1-1),
    inset 0 0 1rem 1px var(--color-c1-4);
}

.OhSnap {
  position: absolute;
  content: "";
  background: var(--color-c1-4);
  border: 2px solid var(--color-c1-1);
  /* USE FOR TOP-LEFT CORNER */
  width: 1.25rem;
  height: 1.25rem;
  transform: translateX(0.5rem) translateY(0.5rem);
  border-radius: 0.5rem;
}
