.Wall {
  z-index: 10;
  width: 1px;
  min-height: 5vh;
  background: var(--color-green);
  box-shadow: 0 0 25px 10px var(--color-green-15),
    0 0 50px 10px var(--color-green-50);
  margin-left: 50%;
}

.Wall-Intersection {
  position: absolute;
  z-index: 11;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--color-red-50);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 2rem;
}

.Wall--Section {
  opacity: 1;
}

.Wall-SectionNot {
  opacity: 0;
}

.Wall-Red {
  background: var(--color-red);
  box-shadow: 0 0 50px 10px var(--color-red-50);
}
